* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #54505e;
  font-family: halcom, sans-serif;
  font-weight: 700;
}

body {
  background-color: #ffd4bb;
}

h1 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  margin: 6vw;
}

h2 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}

.cls-1 {
  fill: none;
  stroke: #54505e;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.cls-2 {
  stroke: #54505e;
  fill: transparent;
}

.light {
  width: 8vw;
  position: absolute;
  bottom: 25%;
  right: -4vw;
  z-index: 10;
}

main {
  padding-left: 20%;
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  animation: openNav 2s both;
}
main .menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
}
main .menu nav a {
  font-weight: 700;
  font-size: 1.6vw;
  text-decoration: none;
  border-bottom: solid 2px #e5989b;
}

@keyframes openNav {
  from {
    top: -25vh;
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
.acrelyc {
  height: 100vh;
  background: url("img/samaritaineAcrelycDetour.png") no-repeat;
  background-size: 90%;
  background-position: 50%;
}

.histoire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 68%;
  margin: auto;
  margin-bottom: 10vw;
}
.histoire p {
  text-align: justify;
}
.histoire h2 {
  margin: 6.5vw auto 4vw 2vw;
}
.histoire h3 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6vw;
  margin: 5.5vw auto 3vw 2vw;
}

.galerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vw;
}

.contentGalerie {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 25%;
  width: 95%;
  height: 200vh;
  margin: auto;
  border-radius: 5px;
  background-color: #ecc2ab;
}
.contentGalerie div {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5%;
}
.contentGalerie div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 3px #54505e;
}
.contentGalerie div:nth-of-type(1) {
  grid-column-start: 1;
  grid-row-start: 1;
}
.contentGalerie div:nth-of-type(2) {
  grid-column-start: 1;
  grid-row-start: 2;
}
.contentGalerie div:nth-of-type(3) {
  grid-column-start: 1;
  grid-row-start: 3;
}
.contentGalerie div:nth-of-type(4) {
  grid-column-start: 1;
  grid-row-start: 4;
}
.contentGalerie div:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}
.contentGalerie div:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 2;
}
.contentGalerie div:nth-of-type(6) {
  grid-column-start: 2;
  grid-row-start: 3;
}
.contentGalerie div:nth-of-type(8) {
  grid-column-start: 2;
  grid-row-start: 4;
}
.contentGalerie div:nth-of-type(3) {
  grid-column-start: 3;
  grid-row-start: 1;
}
.contentGalerie div:nth-of-type(6) {
  grid-column-start: 3;
  grid-row-start: 2;
}
.contentGalerie div:nth-of-type(9) {
  grid-column-start: 3;
  grid-row-start: 3;
}
.contentGalerie div:nth-of-type(12) {
  grid-column-start: 3;
  grid-row-start: 4;
}

.dark-mode {
  background-color: #54505e;
  color: #ffd4bb;
}

/*# sourceMappingURL=main.css.map */
