* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #54505e;
  font-family: halcom, sans-serif;
  font-weight: 700;
}

body {
  background-color: #ffd4bb;
}

h1 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  margin: 6vw;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 7.2vw;
    margin: 10vw auto;
  }
}

h2 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 6.2vw;
  }
}

.cls-1 {
  fill: none;
  stroke: #54505e;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.cls-2 {
  stroke: #54505e;
  fill: transparent;
}
@media screen and (max-width: 768px) {
  .cls-2 {
    stroke-width: 2px;
  }
}

svg {
  filter: drop-shadow(4px 7px 2px rgba(0, 0, 0, 0.4));
}

.light {
  width: 8vw;
  position: absolute;
  top: 0;
  right: -4vw;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .light {
    position: fixed;
    top: -30vw;
    left: 2vw;
    width: 12vw;
  }
}
@media screen and (max-width: 480px) {
  .light {
    top: -55vw;
    left: 0.5vw;
    width: 15vw;
  }
}

.animlight {
  transform-origin: top;
  animation: basculement 1s linear;
}

@keyframes basculement {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(5deg);
  }
  30% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  70% {
    transform: rotateZ(-2deg);
  }
  90% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
main {
  padding-left: 20%;
}
@media screen and (max-width: 768px) {
  main {
    padding: 0 0 16vh 0;
  }
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  animation: openNav 2s both;
}
@media screen and (max-width: 768px) {
  main .menu {
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 16vh;
    animation: none;
    background-color: #ffd4bb;
    background-image: linear-gradient(#54505e 100%, rgba(0, 0, 0, 0) 0%);
    background-position: top left;
    background-size: 85% 2px;
    background-repeat: no-repeat;
  }
}
main .menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
}
@media screen and (max-width: 768px) {
  main .menu nav {
    flex-direction: row;
    height: 100%;
    width: 60%;
  }
}
main .menu nav a {
  font-weight: 700;
  font-size: 1.6vw;
  text-decoration: none;
  border-bottom: solid 2px #e5989b;
}
@media screen and (max-width: 768px) {
  main .menu nav a {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 480px) {
  main .menu nav a {
    font-size: 3.2vw;
  }
}

@keyframes openNav {
  from {
    top: -25vh;
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
.homeTitle {
  display: none;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .homeTitle {
    display: block;
    margin: 12vh auto;
  }
}
@media screen and (max-width: 480px) {
  .homeTitle {
    margin: 15vh auto;
  }
}

.acrelyc {
  height: 100vh;
  background: url("img/samaritaineAcrelycDetour.png") no-repeat;
  background-size: 90%;
  background-position: 50%;
}
@media screen and (max-width: 768px) {
  .acrelyc {
    height: 60vw;
    background-size: 95%;
    background-position: 50% 10%;
  }
}
@media screen and (max-width: 480px) {
  .acrelyc {
    height: 40vh;
    background-size: 100%;
    background-position: 50%;
  }
}

.histoire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 68%;
  margin: auto;
  margin-bottom: 10vw;
}
.histoire p {
  text-align: justify;
}
.histoire h2 {
  margin: 6.5vw auto 4vw 2vw;
}
@media screen and (max-width: 768px) {
  .histoire h2 {
    margin: 12vw auto 7vw 4vw;
  }
}
.histoire h3 {
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6vw;
  margin: 5.5vw auto 3vw 2vw;
}
@media screen and (max-width: 768px) {
  .histoire h3 {
    font-size: 4vw;
    margin: 10vw auto 6vw 4vw;
  }
}
@media screen and (max-width: 480px) {
  .histoire h3 {
    font-size: 6vw;
  }
}

.galerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vw;
}

.contentGalerie {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 25%;
  width: 86%;
  height: 200vh;
  margin: auto;
  border-radius: 5px;
  background-color: #ecc2ab;
}
@media screen and (max-width: 768px) {
  .contentGalerie {
    padding: 1%;
    width: 70%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .contentGalerie {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
.contentGalerie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  text-align: center;
  padding: 3.5%;
  border-radius: 5px;
}
.contentGalerie img:nth-of-type(1) {
  grid-column-start: 1;
  grid-row-start: 1;
}
.contentGalerie img:nth-of-type(2) {
  grid-column-start: 1;
  grid-row-start: 2;
}
.contentGalerie img:nth-of-type(3) {
  grid-column-start: 1;
  grid-row-start: 3;
}
.contentGalerie img:nth-of-type(4) {
  grid-column-start: 1;
  grid-row-start: 4;
}
.contentGalerie img:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}
.contentGalerie img:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 2;
}
.contentGalerie img:nth-of-type(6) {
  grid-column-start: 2;
  grid-row-start: 3;
}
.contentGalerie img:nth-of-type(8) {
  grid-column-start: 2;
  grid-row-start: 4;
}
.contentGalerie img:nth-of-type(3) {
  grid-column-start: 3;
  grid-row-start: 1;
}
.contentGalerie img:nth-of-type(6) {
  grid-column-start: 3;
  grid-row-start: 2;
}
.contentGalerie img:nth-of-type(9) {
  grid-column-start: 3;
  grid-row-start: 3;
}
.contentGalerie img:nth-of-type(12) {
  grid-column-start: 3;
  grid-row-start: 4;
}

.sectionContact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .sectionContact {
    height: 84vh;
  }
}
.sectionContact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ecc2ab;
  width: 60%;
  height: 80%;
  margin: auto;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .sectionContact form {
    width: 70%;
    height: 80%;
  }
}
@media screen and (max-width: 480px) {
  .sectionContact form {
    width: 80%;
    height: 60%;
  }
}
.sectionContact form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 10%;
}
.sectionContact form div input {
  height: 80%;
  width: 60%;
  background-color: transparent;
  border: none;
  border-top: 1px solid #54505e;
  border-bottom: 2px solid #54505e;
  margin: 0 0 auto auto;
}
.sectionContact form input:focus-visible {
  outline: unset;
}
.sectionContact form button {
  padding: 2% 6%;
  font-family: adlery-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  color: #54505e;
  background-color: transparent;
  border: #e5989b 2px solid;
  border-radius: 5px;
  box-sizing: content-box;
}
.sectionContact form button:hover {
  background-color: #e5989b;
  transition: 0.3s;
}

.dark-mode {
  background-color: #54505e;
  color: #ffd4bb;
}

/*# sourceMappingURL=main.css.map */
